<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <farid-data-table [DataSource]="Records" [Setting]="TableSettings" [Test]="MyTest">
    <thead>
      <tr>
        <td sortable="true">name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
      <tr *ngFor="let record of Records">
        <td>{{record.name}}</td>
        <td>{{record.lastName}}</td>
        <td>{{record.age}}</td>
        <td><i role="button" (click)="print('HAHAH')" class="glyphicon glyphicon-print"></i></td>
      </tr>
    </tbody>
  </farid-data-table>
</body>
</html>
